
<div id="<%= dom_id group %>" class='d-flex justify-content-between align-items-center' >
  
  <%=link_to group_path(group) do%>      
    <i class="fas <%=group.icon%> fs-1" data-icon="fa-check" style="width:100px; height: 100px; transform: scale(0.8); font-size: 30px" ></i>
  <%end%>
  

  <div class='w-100 p-3' >
    <div class='d-flex justify-content-between align-items-center' >

      <%=link_to group_path(group), class: "text-decoration-none" do  %>

      <div class='w-100 d-fle' >
        <h6 class='' >
          <%= group.name %>     
        </h6>
        <h6>
          <%= group.created_at.strftime("%d %b de %Y") %>   
        </h6>                
      </div>   
      <%end%>

      <div class='w-50 p-3 text-end' >
        <h6>
          Total: <%= group.movements.sum(:amount) %>
        </h6>              

        <%= button_to "Delete", group, method: :delete, class: "bg-transparent border border-0 p-0", style: "z-index: 999" %>
        
      </div>
    </div>  
  </div>

</div>

