<div class='text-center' >
      <p style="color: green">  <%= notice %></p>   
   </div>

<div class='t-5 h-100 w-100 d-flex flex-column justify-content-between bg-light'  >      

   <div class='text-center container d-flex justify-content-between align-items-center px-4 py-3 mt-3 bg-white shadow-1' >            
      <h6> <%=@group.name%>: movements </h6>
      <h6>Total: $ <%=@total_amount%>   </h6>
   </div>

   <div class='pt-5  mt-3 overflow-scroll' >
      <%@movements.each do |e|%>       
         <%= render 'movements/movement', movement: e %>
      <%end%>  
   </div>

      <div class='' >
         <%=link_to "New movement", new_group_movement_path(group_id: params[:id]), method: :get, class: "btn w-100 bg-success text-white py-4 "%>
      </div>
   

</div>